<section>
  <h1>About</h1>
  <p>Raymond T. Hightower is founder of <a
    href="http://wisdomgroup.com">WisdomGroup</a> and organizer of
  <a href="http://chicagoruby.org">ChicagoRuby</a> & <a href="http://windycityrails.org">WindyCityRails</a>.
  </p>
  <p>
  <a href="http://wisdomgroup.com"><img src="/images/wisdomgroup.jpg" width="191" height="42" alt="WisdomGroup - Software development. Ruby on Rails. iPhone. iPad." title="WisdomGroup - Software development. Ruby on Rails. iPhone. iPad."/></a>
  <a href="http://windycityrails.org"><img src="/images/windycityrails.jpg" width="191" height="42" alt="WindyCityRails - Chicago's Ruby on Rails Conference" title="WindyCityRails - Chicago's Ruby on Rails Conference" /></a>
  <a href="http://chicagoruby.org"><img src="/images/chicagoruby.jpg" width="191" height="42" alt="ChicagoRuby - Chicago's Ruby on Rails User Group" title="ChicagoRuby - Chicago's Ruby on Rails User Group" /></a>
  </p>
</section>
