<section>
  <h1>Speaking: Upcoming</h1>
  <ul>
    <li><a href="http://snow-mobile.org">Snow Mobile</a>, Feb 15-16, 2013<br/>in Madison, WI</li>
  </ul>
  <h1>Speaking: Past</h1>
  <ul>
    <li><a href="/blog/2012/10/29/building-ios-apps-with-ruby-motion/">Aloha Ruby</a> in Honolulu, HI</li>
    <li><a href="/blog/2012/10/29/building-ios-apps-with-ruby-motion/">Magic Ruby</a> in Orlando, FL</li>
    <li><a href="http://chicagocodecamp.com">Chicago Code Camp</a> in Grayslake, IL</li>
  </ul>
</section>
