<section>
  <h1>Speaking</h1>
  <p>Ray Hightower is speaking at...</p>
  <ul>
    <li><a href="http://magic-ruby.com">Magic Ruby</a>, Oct 5-6, 2012</li>
    <li><a href="http://aloharubyconf.com">Aloha Ruby</a>, Oct 8-9, 2012</li>
  </ul>
  <a href="http://aloharubyconf.com"><img src="https://www.aloharubyconf.com/images/aloharuby-badge-speaker.jpg" alt="I Am Speaking At Aloha Ruby Conference, The Hawaii Ruby Conference" title="I Am Speaking At Aloha Ruby Conference, The Hawaii Ruby Conference" width="250" height="202" /></a>
</section>
