// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

// article added by RTH on 10/12/2012 to support indentation for UL and OL
article {
  ol, ul {
    padding-left: 3em;
  }
}

// Customer header image added by RTH on 10/14/2012
header[role="banner"] {
     background-image: url(/images/sscc_rocks.png);
     background-repeat: no-repeat;
}

